@{
    ViewData["Title"] = "Welcome";
}

<main class="Main Welcome-main">
    <div class="Welcome-buttons">
        <a class="Button Button--green" asp-controller="signup">Sign Up</a>
        <a class="Button Button--blue" asp-controller="login">Log In</a>
    </div>
</main>
