@{
    ViewData["Title"] = "Log In";
}

<main class="Main Login-main">
    <form class="Login-form">
        <p class="Text--orange"><img src="../images/padlock.svg"> Log in securely</p>
        <input type="email" placeholder="Email address" />
        <input type="password" placeholder="Password" />
        <input type="submit" value="Log In" class="Button Button--blue" />
    </form>
</main>
