@{
    ViewData["Title"] = "Log In";
}

<main class="Main Login-main">
    <form class="Login-form" data-url="/session/login">
        <p class="Margin--topless Text--orange"><img src="~/images/padlock.svg" /> Log in securely</p>
        <input type="email" name="email" placeholder="Email address" autofocus />
        <input type="password" name="password" placeholder="Password" />
        <input type="submit" value="Log In" class="Button Button--blue" />
        <iframe name="news" class="Login-news" src="/news" width="100%" height="64"></iframe>
    </form>
</main>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script>
        $('form').submit(function (event) {
            event.preventDefault();
            $(this).find('input[type=submit]').prop('disabled', true);
            
            var url = $(this).data('url');
            var data = $(this).serialize();
            $.ajax({
                url: url,
                method: 'POST',
                data: data
            }).done(function () {
                window.location = '/nearby';
            }).fail(function () {
                window.location.reload();
            });
        });
    </script>
}
