@{
    ViewData["Title"] = "Welcome";
}

<main class="Main Home-main">
    <a class="Home-button Button Button--green" asp-controller="signup">Sign Up</a>
    <a class="Home-button Button Button--blue" asp-controller="login">Log In</a>
</main>
