@model cats.Models.Nearby
@{
    ViewData["Title"] = "Nearby";
}

<header class="Header">
    <a class="Header-item">@Model.Name</a>
    <a class="Header-item">Log Out</a>
</header>
    
<main class="Nearby-main">
    <img src="~/images/cats/03.jpg" />
    <img src="~/images/cats/04.jpg" />
    <img src="~/images/cats/07.jpg" />
    <img src="~/images/cats/05.jpg" />
    
    <img src="~/images/cats/02.jpg" />
    <img src="~/images/cats/10.jpg" />
    <img src="~/images/cats/01.jpg" />
    <img src="~/images/cats/08.jpg" />

    <img src="~/images/cats/09.jpg" />
    <img src="~/images/cats/12.jpg" />
    <img src="~/images/cats/11.jpg" />
    <img src="~/images/cats/06.jpg" />
</main>
