@model cats.Models.Nearby
@{
    ViewData["Title"] = "Nearby";
}

<header class="Header">
    <a class="Header-item">@Model.Name</a>
    <a class="Header-item">Log Out</a>
</header>
    
<h1>hello</h1>
