@model cats.Models.Nearby
@{
    ViewData["Title"] = "Nearby";
}

<header class="Header">
    <nav class="Header-nav">
        <a class="Header-item">Cats nearby</a>
    </nav>
    <a class="Header-item">@Model.Name</a>
    <a class="Header-item" asp-controller="session" asp-action="logOut">Log Out</a>
</header>
    
<main class="Nearby-main">
    <img src="~/nearby/image/03" />
    <img src="~/nearby/image/04" />
    <img src="~/nearby/image/07" />
    <img src="~/nearby/image/05" />
    
    <img src="~/nearby/image/02" />
    <img src="~/nearby/image/10" />
    <img src="~/nearby/image/01" />
    <img src="~/nearby/image/08" />

    <img src="~/nearby/image/09" />
    <img src="~/nearby/image/12" />
    <img src="~/nearby/image/11" />
    <img src="~/nearby/image/06" />
</main>
