body {
    margin: 0;
    font: 16px 'Helvetica Neue', Helvetica, sans-serif;
}

.Main {
    height: 100vh;
}

.Home-main {
    background: url('../images/background.jpg') right / contain no-repeat, black;
}

.Login-main {
    background: url('../images/login.jpg') center / contain no-repeat, black;
}

.Home-button {
    position: relative;
    left: 42%;
    top: 66%;
}

.Button {
    margin-right: 18px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
    color: white;
    text-decoration: none;
}

.Button--blue {
    background-color: #3c85df;
}

.Button--green {
    background-color: #1aac1e;
}
