body {
    margin: 0;
}

body,input {
    font: 16px 'Helvetica Neue', Helvetica, sans-serif;
}

input {
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
}

iframe {
    border: 0;
}

.Margin--topless {
    margin-top: 0;
}

.Main {
    height: 100vh;
    text-align: center;
}

.Home-main {
    background: url('../images/welcome.jpg') right / contain no-repeat, black;
}

.Login-main {
    background: url('../images/login.jpg') center / contain no-repeat, black;
}

.Home-buttons {
    display: inline-block;
    text-align: initial;
    margin-top: 66vh;
}

.Login-form {
    display: inline-block;
    text-align: initial;
    margin-top: 76vh;
}

.Login-news {
    display: block;
}

.Button {
    margin-right: 18px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.Button--blue {
    background-color: #3c85df;
}

.Button--green {
    background-color: #1aac1e;
}

.Text--orange {
    color: #fe9901;
}
