body {
    margin: 0;
}

body,input {
    font: 16px 'Helvetica Neue', Helvetica, sans-serif;
}

input {
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
}

iframe {
    border: 0;
}

.Margin--topless {
    margin-top: 0;
}

.Main {
    height: 100vh;
    text-align: center;
}

.Header {
    display: flex;
    background-color: black;
    padding: 12px;
}

.Header-nav {
    flex-grow: 1;
}

.Header-item {
    margin-right: 42px;
    color: white;
    text-decoration: none;
}

.Welcome-main {
    background: url('../images/welcome.jpg') right / contain no-repeat, black;
}

.Login-main {
    background: url('../images/login.jpg') center / contain no-repeat, black;
}

.Welcome-buttons {
    display: inline-block;
    text-align: initial;
    margin-top: 66vh;
}

.Login-form {
    display: inline-block;
    text-align: initial;
    margin-top: 76vh;
}

.Login-news {
    display: block;
}

.Nearby-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #dcdcdc;
}

.Nearby-main > img {
    height: 250px;
}

.Button {
    margin-right: 18px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.Button--blue {
    background-color: #3c85df;
}

.Button--green {
    background-color: #1aac1e;
}

.Text--orange {
    color: #fe9901;
}
